.edit-form {
  width: 60%;
  margin: 2% 20%;
  padding-top: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.register-form h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.itemform {
  padding: 50px 200px;
  
}
#editbtn {
  padding: 5px 150px;
  margin: auto;
  background-color: #ff961a;
  border: none;
  border-radius: 4px;
}
