.logo {
  padding: 10px;
}
.register-form {
  width: 50%;
  margin: 2% 25%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.register-form h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
#formregister {
  margin: 20px;
}
#registerbtn {
  background:#ff961a;
  padding: 5px 15px ;
  margin-bottom: 10px;
  border: none;
}
.register a {
  color: darkgray;
}