.logo {
  padding: 10px;
}
.image {
  width: 100px;
  margin-bottom: 20px;
  margin-left: 32%;
}
.login-form {
  width: 25%;
  margin-top: 2%;
  margin-left: 37%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  padding: 30px;
  margin-bottom: 5%;
}
.register a {
  color: darkgray;
}
#loginbtn {
  background:#ff961a;
  padding: 5px 15px ;
  margin-bottom: 10px;
  border: none;
}